<div id='<%= weather[:code] %>' class="col-md-4 cities-weather">
  <div class="weather">
    <div class="current <%= weather[:code] %>-image">
      <div class="info">
        <div>&nbsp;</div>
        <div class="city"><%= weather[:name] %></div>
        <div class="temp"><%= (5*(weather[:temperature] - 32)/9).round(0) %>&deg; <small>C</small></div>
        <!-- <div class="wind"><%#= weather[:datetime].strftime("%T") %></div> -->
        <div>&nbsp;</div>
      </div>
      <div class="icon">
        <span class="<%= weather[:icon].present? ? weather[:icon] : 'wi wi-cloud' %>"></span>
      </div>
    </div>
    <div class="future">
      <div class="day">
        <h3><%= weather[:datetime].strftime("%H:%M") %></h3>
        <p><%= weather[:datetime].strftime("%m/%d/%Y") %></p>
      </div>
    </div>
  </div><!-- ./weather -->
</div><!-- ./col-md-4 -->
