<div class="bd-pageheader">
  <div class="container">
    <h1>Acid Lab Challenge</h1>
    <h2>Cities Weather</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @current_weather.each do |weather| %>
      <%= render 'city/current_weather', weather: weather %>
    <% end %>
  </div><!-- ./row -->
</div><!-- ./container -->
