// Place all the styles related to the City controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-4
{
  padding-top: 15px;
}
.weather
{
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0px 1px 10px 0px #cfcfcf;
  overflow: hidden;
}

.weather .current
{
  display: flex;
  flex-flow: row wrap;
  color: white;
  padding: 20px;
  text-shadow: 1px 1px #F68D2E;
}

.weather .CL-image
{
  background-image: image-url("cities/santiago.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.weather .CH-image
{
  background-image: image-url("cities/zurich.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.weather .NZ-image
{
  background-image: image-url("cities/auckland.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.weather .AU-image
{
  background-image: image-url("cities/sydney.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.weather .UK-image
{
  background-image: image-url("cities/londres.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.weather .USA-image
{
  background-image: image-url("cities/georgia.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.weather .current .info
{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  flex-grow: 2;
}

.weather .current .info .city
{
  font-size: 26px;
}

.weather .current .info .temp
{
    font-size: 56px;
}

.weather .current .info .wind
{
  font-size: 24px;
}

.weather .current .icon
{
  text-align: center;
  font-size: 64px;
  flex-grow: 1;
}

.weather .future
{
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
}

.weather .future .day
{
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

.weather .future .day h3
{
  text-transform: uppercase;
}

.weather .future .day p
{
  font-size: 28px;
}
